/* fonts */

@font-face{
    font-family:"Luciole";
    src:url(../fonts/Luciole-Regular.ttf);
    font-weight:400;
    font-style: normal;
}
@font-face{
    font-family:"Luciole";
    src:url(../fonts/Luciole-Regular-Italic.ttf);
    font-weight:400;
    font-style: italic;
}
@font-face{
    font-family:"Luciole";
    src:url(../fonts/Luciole-Bold.ttf);
    font-weight:700;
    font-style: normal;
}
@font-face{
    font-family:"Luciole";
    src:url(../fonts/Luciole-Bold-Italic.ttf);
    font-weight:700;
    font-style: italic;
}
/* monospace - code et url */
@font-face {
    font-family:"Cousine";
    src:url(../fonts/Cousine-Regular.ttf) format("truetype");
    font-style:normal;
    font-weight:400;
}
